@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="/css/todo.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=PT+Serif:wght@400;700&display=swap" rel="stylesheet"> 
    <link href="/lib/fontawesome-free-5.14.0-web/css/all.css" rel="stylesheet">

}


<!--emmet -->
<div class="parent-container">
    <div class="side">Menu</div>

    <div class="content">
        <h4>My Tasks</h4>

        <div id="tasks" class="section-tasks">
            
        </div>
    </div>
    <div class="details">
        <div id="details-sections">
            <input id="txtTitle" type="text" placeholder="Task name">
        </div>

        <div id="details-sections">
            <label for="chkImportant">Important</label>
            <input id="chkImportant" type="checkbox">
         </div>

        <div id="details-sections">
            <textarea id="txtNotes" placeholder="Notes" rows="6"></textarea>
        </div>

        

        <div id="details-sections">
            <button id="btnSave" class="btn btn-info">Save</button>
         </div>
        
    </div>
</div>

@section Scripts {
    <script src="/js/calendar.js"></script>
}
